# Inspired by https://github.com/syncthing/syncthing/blob/main/etc/linux-systemd/system/syncthing%40.service

[Unit]
Description=Syncthing
After=network.target
StartLimitIntervalSec=60
StartLimitBurst=4

[Service]
ExecStart=flatpak run --user me.kozec.syncthingtk --minimized
Restart=on-failure
RestartSec=1
SuccessExitStatus=3 4
RestartForceExitStatus=3 4

# Hardening
ProtectSystem=full
PrivateTmp=true
SystemCallArchitectures=native
MemoryDenyWriteExecute=true
NoNewPrivileges=true

[Install]
WantedBy=graphical-session.target
